#lform_2__1_buttons_row
{
	margin:10px 10px;
}

#form__1
{
	float:left;
}

#html_tags_dec__0
{
	float:left;
	width:600px;
	padding:5px;
}

#html_tags_dec__1
{
 margin-top:8px;
 padding-bottom:10px;
}

#frame_dec__2
{
 overflow:auto;
}

#html_tags__13
{
	height:70px;
}

#html_tags__12
{
	margin-left:10px;
}

#html_tags__8
{
	margin-left:10px;
}


input#html_tag__5
{
 font-family:Verdana,Arial,"Times new roman";
 font-size: 10pt;
}

span#html_tags__6
{
 font-family:Verdana,Arial,"Times new roman";
 font-size: 10pt;
}

input#html_tag__10
{
 font-family:Verdana,Arial,"Times new roman";
 font-size: 10pt;
}

button#button_1
{
 font-family:Verdana,Arial,"Times new roman";
 font-size: 9pt;
 display:block;
 	background-color:#FFFFFF;
}

button#button_2
{
 font-family:Verdana,Arial,"Times new roman";
 font-size:9pt;
 display:block;
 	background-color:#FFFFFF;
}

button#button_3
{
 font-family:Verdana,Arial,"Times new roman";
 font-size: 9pt;
 	background-color:#FFFFFF;
}


.forest_ctrl_item
{
	color:white;
}

#nLevels_forest_ctrl__1
{
 color:yellow;
 margin-top:10px;
}

#nLevels_forest_ctrl__1_0
{
 color:cyan;
}

#nLevels_forest_ctrl__1_1
{
 color:cyan;
}

#nLevels_forest_ctrl__1_2
{
 color:cyan;
}

#nLevels_forest_ctrl__1_3
{
 color:cyan;
}

#nLevels_forest_ctrl__1_4
{
 color:cyan;
}

#nLevels_forest_ctrl__1_5
{
 color:cyan;
}


#html_tags__0
{
	background-color:#590094;
}

#html_tag__0
{
	background-color:black;
	color:white;
}

#html_tag__1
{
	background-color:black;
	color:white;
}
