#html_tags_dec__2
{
	margin-top:8px;
}

#html_tags__2
{
	padding:5px;
}

#form_2__1_row_Lista_connections
{
	margin-bottom:10px;
}

#form_2__1_row_Nuova_connection
{
	margin-top:10px;
}

#form_2__1_row_Available_dbs
{
	margin-top:10px;
}
