#html_tags_dec__2
{
	margin-top:8px;
}

#html_tags__2
{
	padding:0px;
	background-color:#590094;
}

#form_2__1_inner_table
{
	background-color:#590094;
	padding:10px;
}

div#form_2__1_form_buttons_table_row
{
  padding:10px;
}

button#html_tags__1
{
 margin-left:10px;
 margin-bottom:10px;
}

