

#html_tags_dec__0
{
 background-color:#290094;
 font-family:Verdana,Arial,"Times new roman";
 font-size: 9pt;
 width:400px;
}

#frame__1
{
	border:0px;
	padding:0px 0px 0px 0px;
}

#html_tags__0
{
	padding:5px;
}

#frame_dec__1
{
 background-color:#290094;
 font-family:Verdana,Arial,"Times new roman";
 font-size: 9pt;
 width:300px;
}



