#tables_and_queries th
{
 border-bottom:1px solid cyan;
}

#binds th
{
 border-bottom:1px solid cyan;
}

#html_tags_dec__9
{
	margin-top:8px;
}

#html_tags__9
{
	padding:5px;
}

#html_tags__15
{
	padding:5px;
	background-color:#29A094;
}

#html_tags__1
{
	background-color:#590094;
}


#html_tags_dec__7
{
	margin-bottom:8px;
}

#html_tags__7
{
	padding:5px;
}

#html_tags__1
{
	padding:5px;
}