#main_1
{
	width:300px;
	padding:10px 5px 10px 5px;
}
#main_1
{
	height:0px;
	padding:0px;
}

#main_2
{
	width:90%;
	padding:5px 5px 5px 5px;
}

#frame__1
{
	overflow:auto;
}

th
{
	text-align:left;
	border-bottom:1px solid white;
	color:cyan;
	margin-bottom:5px;
}

thead
{
 margin-bottom:5px;
}

.Parameters
{
	width:70%;
	overflow:auto;
}

#html_tags__1
{
	overflow:auto;
	width:100%;
}

#html_tags_dec__0
{
	width:100%;
}