#menuBar__1_col_0
{
	width:100px;
}

#menuBar__1_col_1
{
	width:200px;
}

#menuBar__1_col_2
{
	width:200px;
}

#menuBar__1_col_3
{
	width:100px;
}

#scrolling_table__2
{
 position:absolute;
 visibility:hidden;
 width:200px;
}

#html_fragment__1
{
 position:absolute;
 visibility:hidden;
}


