#main_1
{
	height:0px;
	padding:0px;
}

#main_2
{
	width:600px;
	padding:5px 5px 5px 5px;
}

th
{
	text-align:left;
	border-bottom:1px solid white;
	color:cyan;
	margin-bottom:5px;
}

thead
{
 margin-bottom:5px;
}