.input_ctrl
{
	display:inline;
}

#html_tags__11
{
	width:290px;
	height:480px;
	overflow:auto;
	float:left;
}

#tbody_id
{
	width:100%;
}

#interfaces_table
{
	margin-left:30px;
}

input
{
	color:black !important;
}

#html_tags__12
{
	float:left;
}

#html_tags__10
{
	margin-top:10px;
}

