.input_ctrl
{
	display:inline;
}

#html_tags_dec__11
{
	padding:5px;
}

#tbody_id
{
	width:100%;
}


input
{
	color:black !important;
}

#html_input_ctrl__5_Choose_submenu_div_id
{
	float:right;
	width:295px;
}

#html_input_ctrl__6_Array_submenu_div_id
{
	float:right;
	width:295px;
}

#html_tags__46
{
	float:right;
	overflow:auto;
	width:300px;
	height:80px;
}

#html_tags__45
{
	width:260px;
}

#html_tags__52
{
	background-color:#29A094;
}

#html_tags__27
{
	background-color:#590094;
}







