#html_tags_dec__3
{
	margin-top:8px;
}

#form_2__1_col_label_Nome_pagina
{
	margin-right:21px;
}

#form_2__1_col_label_Genitori
{
	margin-right:14px;
}

span
{
	width:400px;
}

#html_tags__3
{
	padding:5px;
}

#id-0
{
	 background-color:#290094;

}

#html_tags__0
{
	 width:800px;
	 height:600px;
	 overflow:auto;
}

#html_tags__1
{
	 width:800px;
	 height:600px;
	 overflow:auto;
}

#id-1
{
	 background-color:#290094;
	 color:white;
	 height:600px;
	 overflow:auto;
}


.form_no_label_rows
{margin:0px -10px 0px 0px;}
 	
.local_tabs_2{width:95%;}

