#html_tags_dec__8
{
	margin-top:8px;
}

#html_tags__8
{
	padding:5px;
}

.input_ctrl
{
	display:inline;
}

#html_tags__3
{
 width:600px;
 overflow:auto;
}

#html_tags__4
{
 overflow:auto;
 background-color:#590094;
}

#html_tags__5
{
 overflow:auto;
 background-color:#29A094;
}

.nLevels_menu
{
	color:yellow;
}