/* Navbar container */
.dropdown_topnav {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.dropdown_topnav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown_topnav_1 {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown_topnav_1 .dropbtn_topnav {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.dropdown_topnav a:hover, .dropdown_topnav_1:hover .dropbtn_topnav {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content-topnav {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-topnav a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content-topnav a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown_topnav_1:hover .dropdown-content-topnav {
  display: block;
}