.header1
{
 color:#FFFFFF;
 font-family:Verdana,Arial,"Times new roman";
 font-size:20px;
 font-weight:bold;
}

.header2
{
 color:#FFFFFF;
 font-family:Verdana,Arial,"Times new roman";
 font-size:15px;
}