.level_menu_2
{
 background-color:#290094;
 color:yellow;
 text-align:left;
 width:350px;
 font-family:Verdana,Arial,"Times new roman";
 font-size:10pt;
}

.level_menu_2_items
{
 font-family:Verdana,Arial,"Times new roman";
 font-size: 10pt;
 font-weight:normal;
}

